# Folders
Lib/
Scripts/
share/

# Files
pyvenv.cfg
.idea/
*.iml
*.pyc
*.pyo
__pycache__/
.env


# Virtual environment
venv/

# Static and media files
/static/
/media/


# Database
*.sqlite3
*.db


# Migrations
migrations/
