# Папки
Lib/
Scripts/
share/

# Файлы
pyvenv.cfg
.idea/
*.iml
*.pyc
*.pyo
__pycache__/
.env


# Виртуальное окружение
venv/

# Статические и медиа файлы
/static/
/media/


# Базы данных
*.sqlite3
*.db