{% load static %}

{% block content %}
    <form method="post" action="{% url 'cost_table' %}" onsubmit="return applyFilter()">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <h1>Установка цен</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <div class="form-group me-4">
                    <label for="sectionFilter">Фильтр по разделам:</label>
                    <select class="form-control" id="sectionFilter" name="sectionFilter">
                        {% for section_id, section_data in sections.items %}
                            <option {% if section_data.name == selected_category %}selected{% endif %}>{{ section_data.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-auto">
                    <button class="btn btn-primary" onclick="applyFilter()" type="submit">Применить</button>
                </div>
            </div>

        </div>

        <table class="table table-bordered mt-4 mb-4">
            <thead class="table-light sticky-top">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена товара</th>
                <th>Цена за кг</th>
                <th>Старая цена</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.ID }}</td>
                <td>{{ row.NAME }}</td>
                <td><input type="number" step="0.01" min="0" class="form-control" name="price_{{ row.ID }}" value="{{ row.PRICE }}"></td>
                    <input type="hidden" step="0.01" min="0" name="hidden_price_{{ row.ID }}" value="{{ row.PRICE }}">
                    <input type="hidden" step="0.01" min="0" name="hidden_price_per_kg_{{ row.ID }}" value="{{ row.PRICE_PER_KG }}">
                    <input type="hidden" step="0.01" min="0" name="hidden_old_price_{{ row.ID }}" value="{{ row.OLD_PRICE }}">
                <td><input type="number" step="0.01" min="0" class="form-control" name="price_per_kg_{{ row.ID }}" value="{{ row.PRICE_PER_KG }}"></td>
                <td><input type="number" step="0.01" min="0" class="form-control" name="old_price_{{ row.ID }}" value="{{ row.OLD_PRICE }}"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-left">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

    </form>

    <script>

        function applyFilter() {
            var selectedCategory = document.getElementById('sectionFilter').value;
            // Изменяем адресную строку при выборе категории
            window.location.href = '/cost_table/?category=' + selectedCategory;
            // Отменяем отправку формы
            return false;
        }

    </script>
{% endblock %}