{% extends 'DataTableApp/base.html' %}
{% load static %}

{% block content %}

<!-- Фильтр по категориям -->
<div class="text-end mt-3 mb-3 justify-content-end d-flex">
    <form method="get">
        <div class="input-group">
            <select class="form-select" name="category" id="category">
                <option value="">All categories</option>
                {% for category in categories %}
                    <option value="{{ category.category_id }}" {% if category.category_id == selected_category %}selected{% endif %}>
                        {{ category.category_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </form>
</div>

<!-- Таблица товаров -->
<table border="1" class="table ">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Old price</th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.old_price}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
