{% extends 'DataTableApp/base.html' %}
{% load static %}

{% block content %}

<!-- Grid row for filter and table -->
<div class="row">

    <!-- Column for filter -->
    <div class="col-md-3 me-4">
        <form method="get">
            <div class="input-group">
                <select class="form-select flex-grow-1" name="category" id="category">
                    <option value="">All categories</option>
                    {% for category in categories %}
                    <option value="{{ category.category_id }}" {% if category.category_id == selected_category %} selected {% endif %}>
                        {{ category.category_name }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-dark flex-shrink-0">Apply</button>
            </div>
        </form>
    </div>

    <!-- Column for table -->
    <div class="col-md-8 ms-4">
        <table class="table table-dark table-striped">
            <thead class="bg-primary text-white">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Old price</th>
            </tr>
            </thead>
            <tbody class="bg-secondary text-white">
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_title }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_old_price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
