{% extends 'DataTableApp/base.html' %}
{% load static %}

{% block content %}

<!-- Фильтр по категориям -->
<div class="text-end mt-3 mb-3 justify-content-end d-flex">
    <form method="get">
        <div class="input-group">
            <select class="form-select" name="category" id="category">
                <option value="" {% if not selected_category %}selected{% endif %}>Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.category_id }}" {% if category.category_id == selected_category %}selected{% endif %}>
                        {{ category.category_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Применить</button>
        </div>
    </form>
</div>

<!-- Таблица товаров -->
<table border="1" class="table ">
    <thead class="table-primary">
        <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена товара</th>
        <th>Старая цена</th>
    </tr>
    </thead>
    <tbody class="table-secondary">
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.название }}</td>
            <td>{{ product.цена }}</td>
            <td>{{ product.старая_цена }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}
